<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.JobStorage" version="1.0.0-rc3" targetFramework="net452" />
  <package id="Jobbr.ComponentModel.Registration" version="1.0.0-rc1" targetFramework="net462" />
  <package id="LibLog" version="3.1.0" targetFramework="net462" developmentDependency="true" />
</packages>